body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.dashboard-container {
  background-color: #fff;
  color: #000;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo img {
  max-width: 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.dashboard-button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  background-color: #f04e3e;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: #d43b2e;
}

.dashboard-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
