body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.title {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px; /* Adjust this to increase/decrease space below the title */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 5px;
  display: block;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-contact-btn, .save-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.add-contact-btn {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #C1C1C1;
  margin-bottom: 15px;
}

.save-btn {
  background-color: #6C4EE3;
  color: #FFFFFF;
}

.save-btn:hover {
  background-color: #5B3DD2;
}
