body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.profile-setup-container {
  background-color: #fff;
  color: #000;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.gender-selection {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.gender-button {
  background-color: #6f42c1;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.gender-button#male {
  background-color: #4b28af;
}

.gender-button#female {
  background-color: #ff0099;
}

.gender-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gender-button:active {
  background-color: #330d66;
}
