body {
  background-color: white;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

h1 {
  font-size: 18px;
  margin: 0;
}

.upload-buttons {
  margin-top: 20px;
}

.upload-buttons button {
  background-color: #f56b6b;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.upload-buttons button:hover {
  background-color: #e45555;
}

.confirm {
  background-color: #7557f4;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.confirm:hover {
  background-color: #5a3bdc;
}
